/*

Theme Name: Visionist X-Theme
Theme URI: http://visionistinc.com
Author: Visionist, Inc
Author URI: http://visionistinc.com
Description: Custom Visionist theme that is a child of the X theme
Version: 1.0.0
Template: x

*/


/**
  * Control the font size in the video overlay for the home page
  * The "Data Scientists" text causes a line wrap, pushing content down the page for a moment
  */
#x-section-1 .x-container .x-column .cs-ta-center {
	font-size: 700% !important;
}



/**
 * Remove "timeline" lines from recent work section, only on mobile
 */

@media only screen and (max-width: 1024px) {
	.x-section.bg-image, .x-section.bg-pattern {
		background-position: 0;
	}
}